Debug/
.vs/MediaKeySender/v14/.suo
MediaKeySender/MediaKeySender.vcxproj.filters
ipch/MEDIAKEYSENDER-2c149117/MEDIAKEYSENDER-37bd6df6.ipch
MediaKeySender.sdf
MediaKeySender.opensdf
MediaKeySender/Release/
Release/
ipch/
